
<div class="modal-body">
  <div class="row">
    <input type="hidden" name="fluxoTrabalhoStatusId" id="fluxoTrabalhoStatusId" [(ngModel)]="vm.model.fluxoTrabalhoStatusId" />
    <section class="col-md-12">
      <div class="form-group">
        <label for="Nome">{{ vm.labels.nome }}</label>
        <input type="text" class="form-control" name="nome" (change)="isValid()" [(ngModel)]="vm.model.nome" required />
      </div>
    </section>
    <section class="col-md-12">
      <div class="form-group">
        <label for="FluxoTrabalhoTipoId">{{ vm.labels.fluxoTrabalhoTipoId }}</label>
        <make-select (msChange)="onChange_makeSelect_model_fluxoTrabalhoTipoId($event)" [dataitem]="'FluxoTrabalhoTipo'" [value]="vm.model.fluxoTrabalhoTipoId" [required]="true"></make-select>
      </div>
    </section>
    <section class="col-md-12">
      <div class="form-group">
        <label for="CorFundo">{{ vm.labels.corFundo }}</label>
        <input type="text" class="form-control" name="corFundo" [(ngModel)]="vm.model.corFundo" />
      </div>
    </section>
    <section class="col-md-12">
      <div class="form-group">
        <label for="CorFonte">{{ vm.labels.corFonte }}</label>
        <input type="text" class="form-control" name="corFonte" [(ngModel)]="vm.model.corFonte" />
      </div>
    </section>
    <section class="col-md-12">
      <div class="form-group">
        <label for="Ordem">{{ vm.labels.ordem }}</label>
        <input type="text" class="form-control" name="ordem" [(ngModel)]="vm.model.ordem" />
      </div>
    </section>
  </div>
</div>
